@media (max-width: 990px) {
    .header {
        margin: 40px 20px;
    }
  
    .mid-section {
    display: flex;
    flex-direction: column;
  }

  .mid-section img {
    max-width: 425px;
    max-height: 270px;
    margin-bottom: 4rem;
  }

  .mid-section .mid-text-info {
    text-align: center;
    max-width: 425px;
  }

  .footer {
    justify-content: center;
  }
}
