html {
    font-size: 62.5%;
  }
  
  body {
    background: url(../images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #FFF;
    align-items: center;
  }

  .header  {
    max-height: 100px;
    margin: 4rem 0;
  }

  .header img {
    width: 180px;
  }

  .mid-section {
    display: flex;
    align-items: center;
    gap: 5rem;
  }

.mid-section .mid-text-info {
  font-family: 'Poppins', sans-serif;
  margin-top: -10%;
  max-width: 470px;
}

.mid-section .mid-text-info h1 {
  font-size: 3.8rem;
  font-weight: 600;
  
}

.mid-section .mid-text-info p {
  font-size: 1.5rem;
  max-width: 490px;
  font-weight: 400;
  margin: 3rem 0;
}

.mid-section .mid-text-info .register-btn {
  margin-top: 3rem;
}

.mid-section .mid-text-info .register-btn a {
  font-size: 1.6rem;
  background-color: #FFF;
  border-radius: 20px;
  padding: 1rem 5rem;
  box-shadow: 5px 5px 5px;
}

